@using Rupor.Tools.Consts
@using Rupor.Public.Helpers
@{
    Layout = null;
    string action = Html.GetCurrentUrlComponents(HttpContext.Current.Request).action;
    string controller = Html.GetCurrentUrlComponents(HttpContext.Current.Request).controller;
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/_internal_template/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/_internal_template/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/_internal_template/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/layouts/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/_internal_template/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_internal_template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"  type="text/css"/>

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    @RenderSection("styles", false)
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <a href="@Url.Action("Index","Dashboard")">
                                    <img src="~/Content/_public_template/img/logo/logo_default.png" alt="logo" class="logo-default" />
                                </a>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <div class="top-menu">
                                <ul class="nav navbar-nav pull-right">
                                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                                    <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                                    <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                                    <!-- END NOTIFICATION DROPDOWN -->
                                    <!-- BEGIN TODO DROPDOWN -->
                                    <!-- END TODO DROPDOWN -->
                                    <li class="droddown dropdown-separator">
                                        <span class="separator"></span>
                                    </li>
                                    <!-- BEGIN INBOX DROPDOWN -->
                                    <!-- END INBOX DROPDOWN -->
                                    <!-- BEGIN USER LOGIN DROPDOWN -->
                                    <li class="dropdown dropdown-user dropdown-dark">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <img alt="" class="img-circle" src="../assets/layouts/layout3/img/avatar9.jpg">
                                            <span class="username username-hide-mobile">@Html.GetUserName(User)</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-default">
                                            <li>
                                                <a href="@Url.Action("Index","ProfileDashboard",new{area = "Cab"})">
                                                    <i class="icon-user"></i> Профиль
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu">
                        <div class="container">
                            <!-- BEGIN MEGA MENU -->
                            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                            <div class="hor-menu  ">
                                <ul class="nav navbar-nav">
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown @(controller =="Dashboard" || controller =="ProfileDashboard"?"active":"")">
                                        <a href="javascript:;">
                                            Основное
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-left">
                                            <li aria-haspopup="true" class=" @(action == "AppSettings" && controller =="Dashboard"?"active":"") dropdown-submenu">
                                                @if (User.IsInRole(Role._ROOT))
                                                {
                                                    <a href="@Url.Action("AppSettings","Dashboard",new{ area = "cab"})" class="nav-link nav-toggle ">
                                                        <i class="icon-settings"></i>Настройки приложения
                                                        <span class="arrow"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li aria-haspopup="true" class=" ">
                                                            <a href=" @Url.Action("ProfileSettings", "Dashboard")" class="nav-link ">
                                                                <i class="fa fa-user"></i> Профлиь
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class=" ">
                                                            <a href="@Url.Action("SectionSettings", "Dashboard")" class="nav-link ">
                                                                <i class="fa fa-bookmark"></i> Разделы
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class=" ">
                                                            <a href="@Url.Action("ArticleSettings", "Dashboard")" class="nav-link ">
                                                                <i class="fa fa-book"></i>  Статья
                                                            </a>
                                                        </li>
                                                        <li aria-haspopup="true" class=" ">
                                                            <a href="ecommerce_orders_view.html" class="nav-link ">
                                                                <i class="fa fa-feed"></i> RSS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                }
                                            </li>
                                            <li aria-haspopup="true" class=" @(action == "Index" && controller =="Dashboard"?"active":"") ">
                                                <a href="@Url.Action("Index","Dashboard",new{ area = "cab"})" class="nav-link">
                                                    <i class="icon-graph"></i>Статистика (недоступно)
                                                    @*<i class="icon-bar-chart"></i>*@
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class=" @(action == "Index" && controller =="ProfileDashboard"?"active":"") ">
                                                <a href="@Url.Action("Index","ProfileDashboard")" class="nav-link  ">
                                                    <i class="icon-user"></i> Профиль
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                        <a href="@Url.Action("Index","Section",new { area="Cab"})">
                                            Разделы
                                            @*<span class="arrow"></span>*@
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <div class="page-head">
                            <div class="container">
                                <!-- BEGIN PAGE TITLE -->
                                <div class="page-title">
                                    <h1>
                                        Cab
                                        <small>@ViewBag.Title</small>
                                    </h1>
                                </div>
                                <!-- END PAGE TITLE -->
                                <!-- BEGIN PAGE TOOLBAR -->
                                <!-- END PAGE TOOLBAR -->
                            </div>
                        </div>
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE BREADCRUMBS -->
                                <ul class="page-breadcrumb breadcrumb">
                                    <li>
                                        <a href="@Url.Action("Index","Dashboard",new{area="cab"})">
                                            <i class="icon-home"></i>
                                        </a>
                                        <i class="fa fa-circle"></i>
                                    </li>
                                    <li>
                                        <span>Dashboard</span>
                                    </li>
                                </ul>
                                <!-- END PAGE BREADCRUMBS -->
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">
                                    <div class="mt-content-body">
                                        @RenderBody()
                                    </div>
                                </div>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
                    <!-- BEGIN QUICK SIDEBAR -->
                    <a href="javascript:;" class="page-quick-sidebar-toggler">
                        <i class="icon-login"></i>
                    </a>

                    <!-- END QUICK SIDEBAR -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <!-- BEGIN FOOTER -->
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div class="container">
                        @DateTime.Now.Year.ToString() &copy; The Rupor
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="~/Content/_internal_template/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/_internal_template/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/_internal_template/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/_internal_template/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Content/_internal_template/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="~/Content/_internal_template/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/datatables.net@1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>

    <!--<a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;-->
    <!--<a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>-->
    @RenderSection("scripts", false)
</body>

</html>