<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/_public_template/css/style.css" rel="stylesheet" />
    <link href="~/Content/_public_template/fonts/font-awesome.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <!--BEGIN header-->
    <header class="header">
        <div class="app-container header-inner">
            <div class="container-fluid">
                <div class="header-top">
                    <div class="header-top__item">
                        <a class="logo" href="@Url.Action("Index","Home",new { area=""})">
                        </a>
                    </div>
                    <div class="header-top__item">
                        @Html.Action("AuthUserWidget", "Profile")
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            @Html.Action("HeaderCategories", "Component")
        </nav>
    </header>
    <!--END header-->

    <div class="app-container">
        <div class="container-fluid">
            <div class="row">
                <aside class="col-md-2 app-leftmenu">
                    @Html.Action("SideCategories", "Component")
                </aside>
                <div class="col-lg-8 col-md-8 col-xs-12 app-content">
                    <article class="app-content__inner">
                        @RenderBody()

                        <!--BEGIN loader-->
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <!--END loader-->

                    </article>
                </div>

                <!--BEGIN RIGHT ASIDE-->
                <aside class="col-md-2 rupor-latest_news">
                    <h3 class="title-latest">Последние</h3>
                    <a class="rupor-latest_news__inner" style="background-image: url('other/img_5.jpg')" href="article.html">
                        <div class="rupor-latest_news__item">
                            <div class="date">22.01.2018</div>
                            <div class="content">
                                Городской прокурор Сергей Зайцев - "рост подростковой преступности нас пугает"
                            </div>
                        </div>
                    </a>
                    <a class="rupor-latest_news__inner" style="background-image: url('other/img_4.jpg')" href="article.html">
                        <div class="rupor-latest_news__item">
                            <div class="date">22.01.2018</div>
                            <div class="content">
                                В Камышине полицейские задержали подозреваемую в сбыте наркотических средств
                            </div>
                        </div>
                    </a>
                    <a class="rupor-latest_news__inner" style="background-image: url('other/img_3.jpg')" href="article.html">
                        <div class="rupor-latest_news__item">
                            <div class="date">22.01.2018</div>
                            <div class="content">
                                Активисты Камышинского горкома КПРФ провели пикеты против пенсионной реформы и витка цен
                            </div>
                        </div>
                    </a>

                </aside>
                <!--END RIGHT ASIDE-->

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="~/Content/_public_template/js/bundle.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>

        <script src="~/Content/glob/js/wrapper.validate.js"></script>*@
    <script>
        $(function () {
            $("#uploadPicture").change(function (e) {
                $(this).submit();
            });
        });
    </script>
    @RenderSection("scripts", false)

</body>
</html>