<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/_public_template/css/style.css" rel="stylesheet" />
    <link href="~/Content/_public_template/fonts/font-awesome.css" rel="stylesheet" />
   
    @RenderSection("styles", false)
</head>

<body class="rupor-login">
    <div class="app-content">
        <div class="container-fluid">
            <div class="login-logo">
                <div class="login-logo__inner">
                    <a href="@Url.Action("Index","Home")" class="logo"></a>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
    <script src="~/Content/glob/js/wrapper.validate.js"></script>
    @RenderSection("scripts",false)
</body>

</html>

