@using Rupor.Domain.Entities.File
@model Rupor.Public.Areas.Cab.Models.ProfileSettingsModel
@{

}
<div class="alert alert-success margin-bottom-10">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <i class="fa fa-warning fa-lg"></i> Укажите базовые настройки профиля пользователя.
</div>

@Html.ValidationSummary()

<div class="container">
    <div class="col-md-10 center-block" style="float:none; margin: auto;">
        <div class="">
            <form action="@Url.Action("ProfileSettings", "Dashboard")" method="post" enctype="multipart/form-data" class="portlet light form-horizontal">
                <div class="portlet-title">
                    <div class="caption"> <label class="caption-subject font-blue sbold uppercase">Стандартное изображение профиля</label></div>
                    <div class="actions">
                        <button type="submit" class="btn btn-circle btn-default btn-sm">
                            <i class="fa fa-penciv"></i> Сохранить
                        </button>
                    </div>
                </div>
                <div class="portlet-body">


                    @Html.AntiForgeryToken()
                    <div class="form-body">

                        <div class="form-group">
                            <input type="hidden" name="FileType" value="@FileType.Image" />
                            @if (!Model.IsEmptyDefaultImage)
                            {
                                <div class="col-md-4">
                                    <img class="img-responsive" src="@Url.Action("GetDefaultProfileImage", "Pic", new {area = ""})" />
                                </div>
                            }
                            <div class="col-md-8">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-large">
                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new"> Выбрать файл </span>
                                            <span class="fileinput-exists"> Изменить </span>
                                            @Html.TextBoxFor(m => m.File, new { @type = "file" })
                                        </span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Удалить </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


